<section>
    <div class="my-20 text-center">
        <p class="text-6xl mb-4">Ristoranti</p>
        <p class="text-xl">Ecco a te  tutta la lista dei ristoranti censiti dalla tua azienda, prenditi del tempo per assaggiare tutte queste prelibatezze</p>
    </div>
    <div class="mx-80">
        <p class="w-80 m-auto">Conosci qualche locale dove si mangia bene oppure fa anche delivery?</p>
        <div class="w-44 text-center buttonOrange rounded-xl m-auto my-5">
            <a href="#" class="">Censisci locale</a>
        </div>
    </div>
    <div>

    </div>
</section>
