<section>
    <div class="my-20 text-center">
        <p class="text-6xl mb-4">Ristoranti</p>
    </div>
    <div class="mx-40">
        <p class="text-xl">Ecco a te  tutta la lista dei ristoranti censiti dalla tua azienda, prenditi del tempo per assaggiare tutte queste prelibatezze</p>
        <div class="mt-8">
            <p class="m-auto">Conosci qualche locale dove si mangia bene oppure fa anche delivery?</p>
            <div class="w-44 text-center buttonOrange rounded-xl my-4">
                <a href="#" class="">Censisci locale</a>
            </div>
        </div>

        <div class="grid grid-cols-1">
            <div class="grid grid-cols-2 my-10 shadow-xl rounded-xl">
                <div class="">
                    <img src="../../assets/resturant1.jpg" alt="" class="">
                </div>
                <div class="my-16 ml-16">
                    <div class="">
                        <mat-icon class="mr-5 coloriedStar">star</mat-icon>
                        <mat-icon class="mr-5 coloriedStar">star</mat-icon>
                        <mat-icon class="mr-5 coloriedStar">star</mat-icon>
                        <mat-icon class="mr-5 coloriedStar">star</mat-icon>
                        <mat-icon class="mr-5">star</mat-icon>
                    </div>
                    
                    <div class="mb-72">
                        <p class="text-4xl">La voglia kebab</p>
                        <p class="text-xl">Kebab ottimo da asporto</p>
                    </div>
    
                    <div>
                        <p>Disponibile su:</p>
                        <div class="grid grid-cols-4">
                            <img src="../../assets/deliveroo.jpg" alt="" class="h-16 w-16 rounded-md">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    
</section>
