<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Accedi al portale</h2>
    </div>
  
    <div class="mt-10 xl:mt-20 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6 xl:space-y-16">

        <div>
          <label for="email" class="block text-lg font-semibold leading-6 text-gray-900">Email</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" required class="block w-full py-1.5 text-gray-900 ring-gray-300 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-lg leading-6 text-gray-900 font-semibold">Password</label>
            <div class="text-sm">
              <a href="#" class="font-semibold activeLink">Forgot password?</a>
            </div>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full py-1.5 text-gray-900 ring-gray-300 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <button type="submit" class="flex m-auto w-min justify-center rounded-3xl px-10 py-1.5 text-sm font-semibold leading-6 text-white shadow-xl
           mt-0 xl:mt-12 buttonOrange">Accedi</button>
        </div>

      </form>
    </div>
  </div>