/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input {
    border: none;
    border-bottom: 0.5px solid #323232;
}

.buttonOrange{
    color: #323232;
    background-color: #FFAD05;
}

.activeLink{
    color: #FFAD05;
}
