.cardSlider{
    width: 95%;
}

.imgCard{
    height: 80%;
    width: 100%;
}

.active{
    background-color: #6DD3CE;
}

.notActive{
    background-color: #A26769;
}

.coloriedStar{
    color: #FFAD05;
}

.buttonLink{
    background-color: #FFAD05;
}