<section>
    <div class="my-20 text-center">
        <p class="text-6xl mb-4">Colleghi</p>
        <p class="text-xl">Ecco a te  tutta la lista dei colleghi della azienda, prenditi del tempo per conoscerli meglio</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-4">
        <div class="text-left mx-10 text-lg mb-16">
            <img src="../../assets/persona1.jpg" alt="" class="rounded-xl imgCard">
            <div class="my-5 font-bold">Sofia bianchi</div>
            <div>Data di assunzione: 19/07/22</div>
            <div>Locali censiti: 3</div>
            <div>Locali recensiti: 4</div>
            <div>Valutazione media: 3.7</div>

            <div class="my-5 font-bold">Pagamento su:</div>
            <div class="grid grid-cols-4">
                <img src="../../assets/paypal.png" alt="" class="h-20 w-20 rounded-xl">
            </div>
        </div>
    </div>
</section>
